
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
     /*background:  -webkit-linear-gradient(top, rgba(181, 228, 235, 0.8) 0%, rgba(50, 243, 243, 0.8) 50%, rgb(15, 201, 24) 100%);*/
          
    /*
    opacity: 1 ;   
    background-image: url('./imagen/fondo-pantalla.jpg');
    background-size: cover;
    background-attachment: fixed;
       
}
    
.container {
        min-height: 100vh;
        display: flex;
        /*align-items: center;
        justify-content: center;*/
   
}
#contenedor-post {
    background: rgb(252, 237, 155);
    width: 90%;
    /*padding: 0.5rem;*/
    margin: 0.5rem;
    border: 1px rgb(12, 11, 11);
}
/*
form {
   
    background: rgb(235, 229, 229);
}
*/
.logo-google {
    width: 3rem;    
}

.block {
    display: block;
}

.menu-nav {
    
    display: flex;
    justify-content: space-between;
    
}

nav ul li {
    list-style: none;
}

input {
    margin: 20px;
    padding:  10px;
    border-radius: 5px;
    border: 0;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0;
    background: #14c440;
}

.btn-eliminar {
    margin: 5px;
    padding: 5px;
    border-radius: 0;
    background: #15f597
}

.form-login{
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.logo {
    width: 30%;
    height: 10%;
    
}

.travellovers {
    height: 8rem;
}


.img-portada {
    height: 40vh;
     
}
header {
    padding: 0.3rem;
    background: #f37a69;
    display: flex;
    justify-content: space-between;
}
