
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    background:  -webkit-linear-gradient(top, rgb(87, 235, 255,0.8) 0%, rgba(210,255,87,0.8) 50%, rgb(109, 214, 10) 100%);
          
    /*
    opacity: 1 ;   
    background-image: url('./imagen/fondo-pantalla.jpg');
    background-size: cover;
    background-attachment: fixed;
    */   
}
    
.container {
        min-height: 100vh;
        display: flex;
        /*align-items: center;
        justify-content: center;*/
   
}
/*
form {
   
    background: rgb(235, 229, 229);
}
*/
.logo-google {
    width: 3rem;    
}

.block {
    display: block;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

input {
    margin: 20px;
    padding:  10px;
    border-radius: 5px;
    border: 0;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0;
    background: rgb(15, 176, 240);
}

.btn-eliminar {
    margin: 5px;
    padding: 5px;
    border-radius: 0;
}

.form-login{
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}