
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
     min-height: 100vh; 
     /*padding: 1%;*/ 
     background: #ffffff;   
       
}  

.con-gen-post {
    width:100% ;
    display: block;
    text-align: center;
}
.contenedor-post {
    background: rgb(245, 245, 244);
    padding: 0.1rem;
    border: 1px solid rgb(73, 70, 70);
    margin-bottom: 1.5rem;
    
}
/*
form {
   
    background: rgb(235, 229, 229);
}
*/


.block {
    display: block;
}


.photo {
    width: 10rem;
}

input {
    margin: 1rem;
    padding:  10px;
    border-radius: 15px;
    border: solid 1px rgb(7, 78, 78);
    
}

button {
    
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border: 0;
    background: #F40047;
    color: rgb(243, 243, 230);
    
}
.logo-google {
    width: 15%;  
    height: auto; 
    margin: 1rem; 
}

.btn-eliminar {
    margin: 0.1rem 0.2rem 0.1rem 0.2rem;
    padding: 0.1rem;
    color: black;
    background: none;    
}

.form-login{
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.img-portada {
    height: 40vh;
     
}
/*
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-nav {    
    display: flex ;
    width: 100%;
    justify-content: space-between;    
}
*/

.centrar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    text-align: center;
    margin: 5vh;
}
.boton-login {
    width: 50%;
    
}
.logo {
    max-width: 50%;
    margin-top: 5%;
}
.contenedor-login {
    display: block;
    text-align: center;
}
.login2 {
    display: block;
}
.logo-maleta {
    width: 40%;
    
}
#photo {
    width: 5rem;
    height: 5rem;
}

.contenedor-welcome {
    display: block;
    text-align: center;
}
.screen-welcome {
    padding: 3rem;
}
.welcomw-maleta {
    width: 10rem;
}
.user {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.estilo-textarea {
    width: 100%;
    padding: 1rem;
    height: 5rem;
    border: 1.5px solid #5e5a5a;
}
.header-post{
    padding: 0.3rem;
    height: 3rem;
    background: rgb(169, 243, 237);
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;

}
.post-pub {
    width: 90%;
    height: 5rem ;
    background: rgb(230, 237, 238);
    margin-top: 1rem;
    padding: 0.5rem;
    
}
.create-post {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    
}
#sign-out1 {
    display: none;
}
.btn-sing-out {
    display: none;
}
/* menu desplegable resposive */
#btn-menu {
    display: none;
    width: 20%;
}
#btn-menu:checked ~ .menu {
    margin: 0;
}
.hamburger {
    display: block;
    cursor: pointer;

}
header {
    width: 100%;
    display: flex;
    background: rgb(97, 255, 255);
}
.log-maleta  {
    width:40%;
    margin-left: 29%;
}
header label {
    display: block;
    text-align: left;
    padding: 10px;
    border-right:1px solid #fff
}
header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}
.menu {
    text-align: left;
    position: absolute;
    background: rgb(97, 255, 255);
    width: 40%;
    margin-left: -60%;   
    
}
menu ul {
    flex-direction:column;    
}

nav ul li {
    list-style: none;
    text-align: left;
    height: 2rem;
    border: 1px solid whitesmoke;
    padding: 0.5rem;  
    
}

@media screen and ( min-width: 700px ) {
    .contenedor-login {
          display:flex;          
    }
    .logo {
          max-width: 90%;
    }
    .screen-welcome {
        display: flex;
        padding: 5% 10%;
    }
    .user{
        width: 30%;
    }
    .screen-post {
        width: 70%;
        padding: 0 2rem;
        
    }
   
    #sign-out1 {
        display: flex;
    }
   
    header {
        padding: 0.3rem;
        background: rgb(97, 255, 255);
        display: flex;
        justify-content: space-between;
    }
    header label {
        display: none;
    }
    .menu {
        display: flex;
        margin-left: 1%;
        width: 100%;
    }
    .create-post {
        display: block;
        width: 100%;
        text-align:center;
    }
    .estilo-textarea{
        width: 100%;
    }
    .btn-sing-out{
        display: block;
        background:  rgb(97, 255, 255);
        color: black;
    }
    menu ul {
        flex-direction:row;    
    }
    .hamburger{
        display: none;
    }
}